<section class="heroSection">
  <app-header></app-header>
  <div class="contentWrapper">
    <app-arrow-left class="arrowLeft"></app-arrow-left>
    <div class="nameContainer">
      <p class="job">Frontend Developer</p>
      <p class="name">Richard Streu</p>
      <div>
        <app-slide-button [path]="" [text]="checkMyWorkText"></app-slide-button>
        <app-slide-button [path]="" [text]="contactMeText"></app-slide-button>
      </div>
    </div>
    <app-arrow-right class="arrowRight"></app-arrow-right>
    <div class="slideBanner"></div>
  </div>
  <app-slide-bar></app-slide-bar>
</section>
