@import "../../../styles.scss";

footer {
  background-color: $color-bgDarkTwo;
}

.contentWrapper {
  padding-top: 144px;
  

  @media (max-width: 1250px) {
    padding-top: 100px;
  }

  div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;

    @media (max-width: 1250px) {
      padding-bottom: 32px;
    }

    .footerLogoBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 0.5rem;
      padding-bottom: 0;


      svg {
        margin-bottom: 1.5rem;
      }

      #richardStreuFooterLogo {
        height: 48px;
        width: auto;

        #logoFooterPath {
          fill: $color-singleHighlight;
        }
      }
    }

    .footerCopyBox {
      color: $color-highLight;
      font-family: "Fira";
      font-size: 1.15rem;
      display: flex;
      align-items: start;
      padding-top: 64px;
      padding-bottom: 0;

      @media (max-width: 900px) {
        display: none;
      }
    }

    .footerLinkBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 0.5rem;
      padding-bottom: 0;

      a {
        color: $color-text;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        position: relative;

        &::before {
          transition: all 0.2s ease-in-out;
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 100vh;
          background-color: $color-highLight;
          position: absolute;
          top: 50%;
          transform: translateY(-43%);
          left: -0.75rem;
          opacity: 0;
        }

        &:hover {
          color: $color-highLight;
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }

  .footerCopyBoxResponsive {
    display: none;
    color: $color-highLight;
    font-family: "Fira";
    font-size: 1.13rem;
    align-items: flex-end;
    padding-bottom: 25px;
    text-align: center;

    @media (max-width: 900px) {
      display: block;
    }
  }
}

.singleHighlight {
  color: $color-singleHighlight;
}
