<section id="projectsSection" class="projectsSection">
  <div class="contentWrapper">
    <div class="projectsTextPart">
      <p>Portfolio</p>
      <p class="featuredText">{{ featuredText }}</p>
      <div>
        <p class="exploreText">{{ exploreText }}</p>
      </div>
    </div>
    <div class="projectsContent">
      <div class="projectsBars">
        <hr />
        @for (singleProject of projectData; track $index) {
        <app-project-bar
          class="singleBar"
          [project]="singleProject"
          [index]="$index"
        ></app-project-bar>
        }
      </div>
      <div class="projectsThumbnails">
        @for (singleProject of projectData; track $index) {
        <app-thumbnail-box
          [projectData]="projectData"
          [index]="$index"
        ></app-thumbnail-box>
        }
      </div>
    </div>
  </div>
  @if (isProjectModalOpen$) {
  <app-project-modal></app-project-modal>
  }
</section>
