<section class="projectsSection">
  <div class="contentWrapper">
    <div class="projectsTextPart">
      <p>Portfolio</p>
      <p class="featuredText">{{ featuredText }}</p>
      <div>
        <p class="exploreText">{{ exploreText }}</p>
      </div>
    </div>
    <div class="projectsContent">
      <div class="projectsBars">
        <hr>
        @for (singleProject of projectData; track singleProject; let index = $index) {
          <app-project-bar [project]="singleProject" [index]="index"></app-project-bar>
        }
      </div>
      <div class="projectsThumbnails"></div>
    </div>
  </div>
</section>
