@import "../../../../styles.scss";

.projectsSection .contentWrapper {
  display: flex;
  flex-direction: column;
}

.projectsTextPart {
  display: flex;
  flex-direction: column;
  p {
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-highLight;
    margin-bottom: 1.25rem;

    @media screen and (max-width: 1250px) {
      font-size: 1.13rem;
    }
  }

  .featuredText {
    font-family: "Fira", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: $color-highLight;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 1250px) {
      font-size: 3.5rem;
    }
  }

  div {
    width: 100%;
    max-width: 460px;

    .exploreText {
      font-family: "Karla", sans-serif;
      font-size: 1.13rem;
      font-weight: 400;
      color: white;
      margin-bottom: 2.5rem;

      @media screen and (max-width: 1250px) {
        font-size: 1rem;
        text-wrap: wrap;
      }
    }
  }
}

.projectsContent {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .projectsBars {
    width: 880px;

    @media screen and (max-width: 1350px) {
      width: 100%;
    }
  }

  hr {
    width: 100%;
    height: 2px;
    background-color: $color-highLight;
    border: none;
  }
}

.projectsThumbnails {
  flex: 1;
  position: relative;
}
