@import "../../styles.scss";

.legal-notice {
  min-height: calc(100vh - 194px);
  padding-bottom: 144px;

  .policyHeadline {
    padding-top: 76px;
  }

  .link {
    color: $color-highLight;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 1.25rem;
  }

  h2 {
    padding-bottom: 1.25rem;
  }

  h3 {
    padding-bottom: 1rem;
  }
}
