@import "../../../styles.scss";

header {
  background: linear-gradient(
    to bottom,
    rgba(41, 41, 41, 1) 30%,
    rgba(41, 41, 41, 0)
  );

  .headerContent {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .burgerMenuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 100px;
    z-index: 1000;
    width: 260px;
    height: 290px;
    border: 1px solid rgba($color-highLight, 0.3);
    border-radius: 30px;
    background-color: rgba(white, 0.05);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    filter: drop-shadow(3px 6px 6px rgba($color-highLight, 0.75));

    .burgerMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      a {
        font-family: "Fira";
        font-size: 1.13rem;
        color: white;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        position: relative;

        &:hover {
          color: $color-highLight;
        }
      }

      .languageButton {
        width: 80px;
        height: 28px;
        border: 2px solid $color-highLight;
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        cursor: pointer;
        user-select: none;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 2px solid white;

          span {
            color: $color-highLight;
          }
        }

        span {
          background-color: transparent;
          border: none;
          color: rgba($color-highLight, 0.7);
          font-family: "Fira";
          font-size: 1rem;
          position: relative;
          z-index: 2;
          transition: all 0.2s ease-in-out;
        }

        &::before {
          content: "";
          width: 44px;
          height: 28px;
          background-color: $color-highLight;
          border-radius: 100vh;
          position: absolute;
          z-index: 1;
          left: -2px;
          transition: all 0.2s ease-in-out;
        }

        &.active {
          span:last-child {
            color: white;
            font-weight: bold;
          }

          &::before {
            left: 34px;
          }
        }

        &:not(.active) {
          span:first-child {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }

  .headerNavbar {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .burgerIcon {
      width: 32px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      cursor: pointer;

      &:hover div {
        background-color: $color-highLight;
      }

      div {
        width: 100%;
        height: 2px;
        background-color: white;
        border-radius: 100vh;
        transition: all 0.2s ease-in-out;
      }
    }

    .burgerVisible {
      div:nth-child(1) {
        transform-origin: bottom left;
        transform: rotate(45deg) translateY(-2px) scaleX(0.99);
      }

      div:nth-child(2) {
        transform-origin: right;
        transform: scaleX(0);
      }

      div:nth-child(3) {
        transform-origin: top left;
        transform: rotate(-45deg) translateY(2px) scaleX(0.98);
      }
    }

    .languageButton {
      width: 80px;
      height: 28px;
      border: 2px solid $color-highLight;
      border-radius: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        border: 2px solid white;

        span {
          color: $color-highLight;
        }
      }

      span {
        background-color: transparent;
        border: none;
        color: rgba($color-highLight, 0.7);
        font-family: "Fira";
        font-size: 1rem;
        position: relative;
        z-index: 2;
        transition: all 0.2s ease-in-out;
      }

      &::before {
        content: "";
        width: 44px;
        height: 28px;
        background-color: $color-highLight;
        border-radius: 100vh;
        position: absolute;
        z-index: 1;
        left: -2px;
        transition: all 0.2s ease-in-out;
      }

      &.active {
        span:last-child {
          color: white;
          font-weight: bold;
        }

        &::before {
          left: 34px;
        }
      }

      &:not(.active) {
        span:first-child {
          color: white;
          font-weight: bold;
        }
      }
    }

    a {
      font-family: "Fira";
      font-size: 1.25rem;
      color: white;
      text-decoration: none;

      position: relative;

      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 100vh;
        background-color: $color-highLight;
        position: absolute;
        left: calc(50% - 4px);
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  #richardStreuLogo {
    height: 48px;
    width: auto;

    #logoPath {
      fill: $color-highLight;
    }
  }
}
