<main id="imprint" class="imprint">
  <div class="contentWrapper">
    <app-header></app-header>
    <h2>{{ imprintText }}</h2>
    <p>{{ informationText }}</p>
    <p>Richard Streu<br>
      Schenkendorfstraße 24<br>
      09322 Penig</p>
    <p><b>{{ representedByText }}</b><br>
      Richard Streu</p>
    <p><b>{{ contactText }}</b><br>
      Email: <a class="link" href="mailto:contact@richardstreu.dev">contact&#64;richardstreu.dev</a></p>
    <h2>{{ disclaimerText }}</h2>
    <h3>{{ contentText }}</h3>
  </div>
</main>
