<main id="imprint" class="imprint">
  <div class="contentWrapper">
    <app-header></app-header>
    <h2 class="imprintHeadline">{{ imprintText }}</h2>
    <p>{{ informationText }}</p>
    <br />
    <p>
      Richard Streu<br />
      Schenkendorfstraße 24<br />
      09322 Penig
    </p>
    <br />
    <p>
      <b>{{ representedByText }}</b
      ><br />
      Richard Streu
    </p>
    <p>
      <b>{{ contactText }}</b
      ><br />
      Email:
      <a class="link" href="mailto:contact@richardstreu.dev"
        >contact&#64;richardstreu.dev</a
      >
    </p>
    <br />
    <br />
    <h2>{{ disclaimerText }}</h2>
    <h3>{{ contentText }}</h3>
    <p>{{ contentDataText }}</p>
    <br />
    <h3>{{ linksText }}</h3>
    <p>{{ linksDataText }}</p>
    <br />
    <h3>{{ copyRightText }}</h3>
    <p>{{ copyRightDataText }}</p>
    <br>
    <h3>{{ protectionText }}</h3>
    <p>{{ protectionDataText }}</p>
    <br>
    <p>{{ websiteText }}<a class="link" href="https://www.impressum-generator.de/" target="_blank">impressum-generator.de</a>{{ fromText }}<a class="link" href="https://www.kanzlei-hasselbach.de/" target="_blank">Kanzlei Hasselbach</a></p>
  </div>
</main>
