@import "../../../../../styles.scss";


.fillColorWhite {
  color: white;
}

.fillColorHighLight {
  color: $color-highLight;
}

.bounce {

}

.scale {
  
}

.skillItem {

  display: flex;

  img {
    width: 64px;
    height: 64px;
    padding-bottom: 0.5rem;
  }

  p {
    font-family: "Fira", sans-serif;
    font-size: 1.13px;
    text-align: center;
    color: white;
  }
}