@import "../../../styles.scss";

@keyframes buttonSlide {
  0% {
    transform: translateX(calc(100% + 3rem));
  }

  100% {
    transform: translateX(calc(-100% - 3rem));
  }
}

a {
  border: 2px solid white;
  padding: 0.75rem 1.5rem;
  border-radius: 100vh;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.13rem;
  position: relative;
  display: inline-block;
  overflow: hidden;

  span {
    position: relative;
  }

  &:hover {
    border: 2px solid $color-highLight;

    span {
      transition: all 1s ease-in;
      display: inline-block;
      transform: translateX(calc(-100% - 3rem));
      animation: buttonSlide 2s linear infinite;
      animation-direction: normal;
      animation-delay: 1s;
      color: $color-highLight;
    }
  }
}
