@import "../../../styles.scss";

@keyframes slideText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slideBarContainer {
  width: 100.25%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: rgba($color: $color-text, $alpha: 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  mask: linear-gradient(90deg, transparent, $color-text 3%, $color-text 97%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, $color-text 3%, $color-text 97%, transparent);
  padding: 12px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: bottom left;
  transform: rotate(-3deg);
  display: flex;

  .slideBarText {
    font-size: 2rem;
    color: $color-highLight;
    animation: slideText 25s linear infinite;
    display: flex;
    gap: 56px;
    padding-left: 56px;

    @media screen and (max-width: 1100px) {
      font-size: 1.5rem;
    }

    .dotBox {
      display: flex;
      justify-content: center;
      align-items: center;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 100vh;
        background-color: $color-highLight;
      }
    }
  }
}
