<div id="slideBarContainer" class="slideBarContainer">
  <div class="slideBarText">
    <span>Frontend Developer</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Open to work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>HTML, SCSS, TypeScript, Angular</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Based in Chemnitz</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Avialable for remote work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
  </div>
  <div class="slideBarText">
    <span>Frontend Developer</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Open to work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>HTML, SCSS, TypeScript, Angular</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Based in Chemnitz</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Avialable for remote work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
  </div>
  <div class="slideBarText">
    <span>Frontend Developer</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Open to work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>HTML, SCSS, TypeScript, Angular</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Based in Chemnitz</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
    <span>Avialable for remote work</span>
    <div class="dotBox">
      <div class="dot"></div>
    </div>
  </div>
</div>
