@import "../../../../styles.scss";

.referenceSection {
  padding-top: 144px;

  @media screen and (max-width: 1250px) {
    padding-top: 100px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-family: "Fira", monospace;
      font-size: 2rem;
      font-weight: 700;
      padding-bottom: 2.5rem;
      text-align: center;
      color: $color-highLight;

      @media screen and (max-width: 1250px) {
        font-size: 1.5rem;
        padding-bottom: 2rem;
      }
    }

    .carouselContainer {
      width: 100%;
      overflow: hidden;
      display: flex;
      mask: linear-gradient(
        90deg,
        transparent,
        white 6%,
        white 94%,
        transparent
      );
      -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 6%,
        white 94%,
        transparent
      );

      .carouselBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 48px;
        height: 300px;
        // width: 100%;

        @media screen and (max-width: 1250px) {
          height: 360px;
        }

        @media screen and (max-width: 800px) {
          gap: 24px;
        }

        @media screen and (max-width: 550px) {
          gap: 16px;
        }

        @media screen and (max-width: 450px) {
          gap: 8px;
        }

        .singleReference {
          height: 268px;
          width: 632px;
          background-color: rgba($color-highLight, 0.08);
          border-radius: 30px;
          border: 2px solid rgba($color-highLight, 0.7);
          padding: 48px 40px;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 1250px) {
            padding: 40px 40px;
            height: 300px;
          }

          @media screen and (max-width: 1000px) {
            width: 60vw;
          }

          @media screen and (max-width: 800px) {
            width: 68vw;
            padding: 40px 32px;
          }

          @media screen and (max-width: 550px) {
            width: 78vw;
          }

          p {
            overflow: auto;
            font-family: "Karla", sans-serif;
            line-height: 1.7rem;
            font-size: 1.25rem;
            font-weight: 400;
            color: white;
            text-align: left;
            color: rgba(white, 0.5);
            padding: 0;
            flex: 1;

            @media screen and (max-width: 1250px) {
              font-size: 1.13rem;
              display: flex;
              align-items: start;
            }
          }

          .authorBox {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            padding-top: 1.25rem;

            @media screen and (max-width: 370px) {
              justify-content: center;
            }

            .line {
              height: 2px;
              flex: 1;
              background-color: rgba(white, 0.5);

              @media screen and (max-width: 370px) {
                display: none;
              }
            }

            div {
              display: flex;

              

              p {
                font-size: 1.13rem;
                font-weight: 400;
                font-family: "Karla", sans-serif;
                color: rgba(white, 0.5);
                padding: 0;
                text-align: right;
                display: flex;
                justify-content: right;
                max-width: fit-content;

                @media screen and (max-width: 1250px) {
                  font-size: 1rem;
                  text-wrap: nowrap;
                }

                @media screen and (max-width: 370px) {
                  flex-direction: column;
                  align-items: center;
                  
                  .lineSpan {
                    line-height: 0.5rem;
                  }
                }
              }
            }
          }

          .transition {
            transition: all 0.4s ease-in-out;
          }
        }

        ::-webkit-scrollbar-track {
          background: transparent;
        }

        ::-webkit-scrollbar-thumb {
          background-color: rgba($color-highLight, 0.15);
          border-radius: 100vh;
        }

        .referenceFocus {
          height: 300px;
          background-color: rgba($color-highLight, 0.15);
          border: 2px solid $color-highLight;

          @media screen and (max-width: 1250px) {
            height: 360px;
          }

          p {
            color: white !important;
          }

          .line {
            background-color: white !important;
          }
        }
      }
    }

    .navigationContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 2.5rem;
    }

    .navigationButton {
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.25);
        }

        path {
          transition: all 0.2s ease-in-out;
        }

        &:hover path {
          fill: $color-highLight;
        }
      }
    }

    .dotBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 100vh;
        background-color: white;
        transition: all 0.2s ease-in-out;
      }

      .highLightBG {
        background-color: $color-highLight;
      }
    }
  }
}

.transition {
  transition: all 0.4s ease-in-out;
}
