<div class="formContainer">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="inputBox">
      <label for="name">{{ labelNameText }}</label>
      <input
        type="text"
        id="nameInput"
        class="nameInput"
        name="name"
        [placeholder]="placeholderNameText"
        [(ngModel)]="nameInputNgModel"
        required
      />
    </div>
    <div class="inputBox">
      <label for="email">{{ labelEmailText }}</label>
      <input
        type="email"
        id="nameInput"
        class="emailInput"
        name="email"
        [placeholder]="placeholderEmailText"
        [(ngModel)]="emailInputNgModel"
        required
      />
    </div>
    <div id="messageBox" class="inputBox">
      <label for="message">{{ labelMessageText }}</label>
      <textarea
        name="message"
        id="messageInput"
        class="messageInput"
        [placeholder]="placeholderMessageText"
        [(ngModel)]="messageInputNgModel"
        required
      ></textarea>
    </div>
    <div class="privacyPolicyBox">
      <div (click)="checkCheckBox()" class="checkBox">
        <svg [ngClass]="{'opacity_1': isCheckboxChecked}" width="10" height="8" viewBox="0 0 10 8" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M1 4L4 7L9 1" />
        </svg>
      </div>
      <p>{{ privacyPolicyFirstText }}</p>
      <a href="">{{ privacyPolicyLinkText }}</a>
      <p>{{ privacyPolicySecondText }}</p>
    </div>
    <div class="buttonBox">
      <button class="submitButton" type="submit" value="submit">
        <span>{{ submitButtonText }}</span>
      </button>
    </div>
  </form>
</div>
