@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira";
  src: url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
}

$color-bgDark: rgb(41, 41, 41);
$color-hightLight: rgb(61, 207, 182);
$color-red: rgb(197, 106, 106);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $color-bgDark;
  color: white;
  font-size: 1rem;
  user-select: none;
}

.contentWrapper {
  width: 100%;
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
}