@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla/Karla-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fira";
  src: url("./assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf")
    format("truetype");
}

$color-bgDark: rgb(41, 41, 41);
// $color-bgDark: red;
// $color-text: rgb(25, 25, 25);
$color-text: turquoise;
// $color-highLight: magenta;
$color-highLight: rgb(61, 207, 182);
$color-red: rgb(197, 106, 106);

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background-color: $color-bgDark;
  color: white;
  font-size: 1rem;
  user-select: none;
}

.contentWrapper {
  width: 100%;
  max-width: calc(1248px + 4rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  @media screen and (max-width: 650px) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.d_none {
  display: none !important;
}

.d_block {
  display: block;
}

.opacity_0 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $color-bgDark;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color-highLight, 0.15);
  border-radius: 100vh;
}

.scrollbar-mobile {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: rgba($color-highLight, 0.5) transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover::-webkit-scrollbar,
  &:focus-within::-webkit-scrollbar {
    display: block;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-highLight, 0.5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.wordBreak {
  hyphens: auto;
  // overflow-wrap: break-word;
  // word-wrap: break-word;
  word-break: break-word;
}
