<div
  (mouseenter)="showThumbnail(index)"
  (mouseleave)="hideThumbnail(index)"
  class="projectBar"
  (click)="showHideProjectModal(index)"
>
  <div>
    <p>{{ project.name }}</p>
    <div class="technologies">
      @for (skill of project.skillsList; track skill; let index = $index) { @if
      (index < project.skillsList.length - 1) {
      <div class="singleSkill">
        <p>{{ skill.skillName }}</p>
        <hr />
      </div>
      } @else {
      <div class="singleSkill">
        <p>{{ skill.skillName }}</p>
      </div>
      }}
    </div>
  </div>
  <hr />
</div>
