@import "../../../../styles.scss";

.aboutMeSection {
  background-color: $color-bgDarkTwo;
}

.aboutMeSection .contentWrapper {
  padding-top: 144px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 640px) {
    padding-top: 100px;
  }
}

.aboutMeContent {
  width: 100%;
  display: flex;

  @media screen and (max-width: 1250px) {
    flex-direction: column;
  }

  .aboutMeLeft {
    flex: 1;

    @media screen and (max-width: 1250px) {
      padding-bottom: 2.5rem;
    }

    .imgSwipe {
      width: 568px;
      aspect-ratio: 1/1;
      border-radius: 30px;
      position: relative;

      @media screen and (max-width: 640px) {
        width: 100%;
        aspect-ratio: 1/1;
      }

      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 25px,
        $color-highLight 25px,
        $color-highLight 27px
      );

      img {
        position: absolute;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 30px;
        filter: grayscale(100%);
        transition: all 0.4s ease-out;

        &:hover {
          transform: translate(30px, -30px);

          @media screen and (max-width: 640px) {
            transform: translate(0px, 0px);
          }
        }
      }
    }
  }

  .aboutMeRight {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: flex-end;

    div {
      width: 568px;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      @media screen and (max-width: 640px) {
        gap: 1rem;
      }

      > p {
        font-size: 1.5rem;
        font-family: "Karla", sans-serif;
        font-weight: 500;
        color: $color-highLight;

        @media screen and (max-width: 640px) {
          font-size: 1.13rem;
        }
      }

      .aboutMeBox {
        width: 100%;
        min-height: 400px;
        background-color: rgba($color-highLight, 0.15);
        border: 2px solid $color-highLight;
        border-radius: 30px;
        padding: 2rem;
        gap: 1rem;

        h2 {
          font-family: "Fira", sans-serif;
          font-weight: bold;
          font-size: 4rem;
          color: $color-highLight;
          padding-bottom: 1rem;

          @media screen and (max-width: 640px) {
            font-size: 3.5rem;
          }

          @media screen and (max-width: 380px) {
            font-size: 2.75rem;
          }
        }

        p {
          font-family: "Karla", sans-serif;
          font-size: 1.13rem;
          color: $color-text;
          padding-bottom: 1rem;

          @media screen and (max-width: 640px) {
            font-size: 1rem;
          }
        }

        .aboutMeItems {
          display: flex;
          flex-direction: row;
          gap: 1.5rem;
          width: 100%;

          svg {
            width: 32px;
            min-width: 32px;
            height: 32px;

            path {
              fill: $color-highLight;
            }
          }

          p {
            font-family: "Karla", sans-serif;
            font-size: 1.13rem;
            color: rgba($color: $color-text, $alpha: 0.7);
            transition: all 0.2s ease-in-out;
            padding-bottom: 0;

            @media screen and (max-width: 640px) {
              font-size: 1rem;
            }

            &:hover {
              color: $color-text;
            }
          }
        }
      }
    }
  }

  .singleHighlight {
    color: $color-singleHighlight;
  }
}
