@import "../../../../styles.scss";

.aboutMeSection .contentWrapper {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.aboutMeContent {
  height: 708px;
  width: 100%;
  display: flex;

  .aboutMeLeft {
    flex: 1;

    .imgSwipe {
      width: 568px;
      height: 568px;
      border-radius: 30px;
      position: relative;

      background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 25px,
        $color-highLight 25px,
        $color-highLight 27px
      );

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
        filter: grayscale(100%);
        transition: all 0.4s ease-out;

        &:hover {
          transform: translate(30px, -30px);
        }
      }
    }
  }

  .aboutMeRight {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: flex-end;

    div {
      width: 568px;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      > p {
        font-size: 1.5rem;
        font-family: "Karla", sans-serif;
        font-weight: 500;
        color: $color-highLight;
      }

      .aboutMeBox {
        width: 100%;
        min-height: 400px;
        background-color: rgba($color-highLight, 0.2);
        border: 2px solid $color-highLight;
        border-radius: 30px;
        padding: 2rem;
      }
    }
  }
}
