<section id="aboutMeSection" class="aboutMeSection">
  <div class="contentWrapper">
    <div class="aboutMeContent">
      <div class="aboutMeLeft">
        <div class="imgSwipe">
          <img src="./assets/img/portfolioPhoto (1).jpg" alt="" />
        </div>
      </div>
      <div class="aboutMeRight">
        <div>
          <p>{{whoIAmText}}</p>
          <div class="aboutMeBox">
            <h2>{{aboutMeText}}</h2>
            <p>{{greetingText}}</p>
            <div class="aboutMeItems"></div>
            <div class="aboutMeItems"></div>
            <div class="aboutMeItems"></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
